body {
	font-family: sans-serif;
	max-width: 1000px;
	margin: 0 auto;
}

form input {
	margin: 2px;
}

form .error {
	color: #ff0000;
	font-weight: bold;
}

.flash {
	margin: 20px 0;
	padding: 10px 15px;
	border: 2px solid #000;
}

.flash.info {
	border-color: green;
	background-color: #cfffc1;
	color: green;
}

.flash.error {
	border-color: red;
	background-color: #ffdada;
	color: red;
}
